<!DOCTYPE html>
<% provide(:title, "Contact") %>
<html>
	<head>
		 <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet"> 
		<title><%= yield(:title)%> | Healthy bowl</title>
	</head>
	<body>
		<h1>Contact</h1>
	</body>
</html>