<!DOCTYPE html> 
<% provide(:title, "Home")%>
<html>
	<head> 
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet"> 
		<title><%= yield(:title)%> | Healthy bowl</title>
	</head>
	<body>
		<h1>Healthy bowl</h1>
		<img src="app/assets/images/home_img_1.jpg" alt="photo">
	</body>
</html>