<!DOCTYPE html> 
<% provide(:title, "Home")%>
<html>
	<head> 
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet"> 
		<title><%= yield(:title)%> | Healthy bowl</title>
	</head>
	<body>
		<h1>Healthy bowl</h1>
		<div class="container">
		  <div class ="row">
		  	  <% @product.each do |product| %>
		    	<div class="col-sm-3">
			  	  <%= link_to "products/#{product.id}" do %>
			  	  	<% if product.photo.attached? %>
			  	  		<%= image_tag(product.photo, alt:"photo_1", width: "300") %>
			  	  	<% end %>
			  	  <% end %> 
			  	  <p>The photo copied from afterfir-catering.pl </p>
				</div>
			  <%end %> 
		  </div>
	    </div>
	</body>
</html>