<!DOCTYPE html>
<%= provide(:title, 'Opinions') %>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet"> 
		<title><%= yield(:title)%> | Healthy bowl</title>	
	</head>
	<body>
		<h1>Opinions</h1>
	</body>
</html>


</html>
