<!DOCTYPE html>
<% provide(:title, 'Sign up') %>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet"> 
		<title></title>
	</head>
	<body>
		<h1>Sign up</h1>

	</body>
</html>


<%= render 'form', customer: @customer %>

<%= link_to 'Back', customers_path %>
