<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
</p>

<p>
  <% session[:cart].each do |product| %>
      <%= puts  product %> 
  <% end %> 
</p>

<%= link_to 'Edit'  %> |
<%= link_to 'Back', products_path %>
