    <header>
      <div class="cointainer">
        <div class="btn-group">
          <button type="button", class="nav-button btn-link">Home</button>
          <button type="button", class="nav-button btn-link">Contact</button>
          <button type="button", class="nav-button btn-link">Opinions</button>
          <button type="button", class="nav-button btn-link">Your account</button>
        </div>  
      </div>
    </header>